@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --primary-yellow: 255, 232, 31;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Press Start 2P', cursive;
}

@layer components {
  .pixel-borders {
    box-shadow: 
      0 -4px 0 4px rgba(var(--primary-yellow), 0.5),
      0 4px 0 4px rgba(var(--primary-yellow), 0.5),
      -4px 0 0 4px rgba(var(--primary-yellow), 0.5),
      4px 0 0 4px rgba(var(--primary-yellow), 0.5);
  }

  .pixel-text {
    text-shadow: 
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000;
  }
}